
.icon-circles:before { content: '\e800'; } /* '' */
.icon-dialogue:before { content: '\e803'; } /* '' */
.icon-pencil-alt:before { content: '\e804'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-smile:before { content: '\f118'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */